@*@model WebRegistrationForm.Model.RegistrationDto*@
@model WebRegistrationForm.Model.dashboardDto

@{
    ViewBag.Title = "dashboard";

}

<h2>MY e-APP Dashboard</h2>

@using (Html.BeginForm("dashboardResult", "Home", FormMethod.Post ,new {@id="frmSearch"}))
{
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(m => m.search, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.search, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.stateId, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(m => m.stateId, ViewBag.State as SelectList, "--Select State--", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.districtId, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(m => m.districtId, ViewBag.District as SelectList, "--Select District--", new { @class = "form-control" })
            </div>
        </div>
        &nbsp;
    </div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-primary" id="dashInfo">Submit</button>
    </div>
   
}
&nbsp;&nbsp;
<div id="dashboardData">
    @Html.Partial("dashboardResult", new List<WebRegistrationForm.Model.RegistrationDto>())
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#dashInfo").on("click", function () {
                debugger;
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("dashboardResult")',
                    data: $("#frmSearch").serialize(),
                    success: function (data) {
                        $("#dashboardData").html(data);
                    }
                })
            });
            $("#stateId").on("change", function () {
                debugger;
                const stateId = $('#stateId').val();
                $('#districtId').html("");
                $('#districtId').append($('<option disabled selected value>--Select District--</option>'));
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("stateDistrict")',
                   data: { stateId: stateId },
                   success: function (result) {
                       debugger;
                       //// Append the retrieved districts to the dropdown
                       $.each(result, function (i, district) {
                           $("#districtId").append($('<option>', {
                               value: district.districtId,
                               text: district.districtName
                           }));
                       });
                   }
               });
           });
            $("#districtId").on("change", function () {
                debugger;
                const districtId = $('#districtId').val();
                $('#municipalityId').html("");
                $('#municipalityId').append($('<option disabled selected value>--Select Municipality--</option>'));
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("districtMunicipality")',
                    data: { districtId: districtId },
                    success: function (result) {
                        debugger;
                        //// Append the retrieved districts to the dropdown
                        $.each(result, function (i, item) {
                            $("#municipalityId").append($('<option>', {
                                value: item.municipalityId,
                                text: item.municipalityName
                            }));
                        });
                    }
                });
            });

        });
    </script>
}
